---
import dayjs from 'dayjs';
import utc from 'dayjs/plugin/utc';
import timezone from 'dayjs/plugin/timezone';
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../config';
import { getBlogs, getBlogDetail } from "../../library/microcms";

dayjs.locale('ja');
dayjs.extend(utc);
dayjs.extend(timezone);

export const prerender = true;

// 生成する記事のIDを全て取得
export async function getStaticPaths() {
  const response = await getBlogs({ fields: ["id"] });
  return response.contents.map((content: any) => ({
    params: {
      postId: content.id,
    },
  }));
}

//記事の詳細情報を取得
const { postId } = Astro.params;
const post = await getBlogDetail(postId as string);
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} thumbnail={post.thumbnail} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<div>
        <div class="post">
          <h2 class="post-title">
            {dayjs(post.date).tz('Asia/Tokyo').format('YYYY.MM.DD ddd.')}
          </h2>
          <div set:html={post.content} class="entry-content" />
        </div>
			</div>
		</main>
		<Footer />
	</body>
</html>