---
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import timezone from "dayjs/plugin/timezone";
import BaseHead from '../../../components/BaseHead.astro';
import Header from '../../../components/Header.astro';
import Footer from '../../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../../config';
import { getBlogDetail } from "../../../library/microcms";

dayjs.extend(utc);
dayjs.extend(timezone);

// SSRを有効化
export const prerender = false;

const { postId } = Astro.params;
const url = new URL(Astro.request.url);
const draftKey = url.searchParams.get("draftKey");

if (!draftKey) {
  throw new Error("Draft key is required for preview.");
}

const post = await getBlogDetail(postId, { draftKey });
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} thumbnail={post.thumbnail} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<div>
        <div class="post">
          <h2 class="post-title">
            {dayjs(post.date).tz('Asia/Tokyo').format('YYYY.MM.DD ddd.')}
          </h2>
          <div set:html={post.content} class="entry-content" />
        </div>
			</div>
		</main>
		<Footer />
	</body>
</html>