---
import dayjs from 'dayjs';
import utc from 'dayjs/plugin/utc';
import timezone from 'dayjs/plugin/timezone';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import type { GetStaticPathsOptions } from 'astro'

dayjs.locale('ja');
dayjs.extend(utc);
dayjs.extend(timezone);

//microCMS呼び出し
import { getBlogs } from "../library/microcms";
export const getStaticPaths = async ({ paginate }: GetStaticPathsOptions) => {
  const blogs = await getBlogs({ limit: 100,fields: ["id", "title", "date","content"] });
  return paginate(blogs.contents, { pageSize: 5 });
};
import PaginationList from '../components/UI/PaginationList.svelte';
const { page } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<div>
				{
					page.data.map((post) => (
						<div class="post">
							<a href={`/posts/${post.id}`} class="post-title text-blue-500">
								{dayjs(post.date).tz('Asia/Tokyo').format('YYYY.MM.DD ddd.')}
							</a>
							<div set:html={post.content} class="entry-content" />
						</div>
					))
				}
			</div>
      <PaginationList {page} />
		</main>
		<Footer />
	</body>
</html>

<style lang="scss" is:global>
  body{
    margin:0 auto !important;
  }
	.post{
		margin-bottom: 2.8em;
		padding-bottom:2.5em;
		border-bottom: 1px solid #e3e2e2;
	}
	.post-title{
		font-size:1.25em;
		text-decoration: none;
    margin-bottom: .4em;
    display: inline-block;

		&:hover{
			opacity: .7;
		}
	}
	.entry-content{
		line-height: 1.7em;
		font-family: 'Noto Sans JP', sans-serif;

		figure{
			margin-top:1.5em;
			margin-bottom:1.5em;

			figcaption{
				font-size:0.9em;
				color:#999;
				padding-top: 0.3em;
			}
		}

		blockquote{
			font-style: italic;
			color: #555;
			border-left: 4px solid rgb(59 130 246);
			padding:1rem 0 0 1.5rem;
			margin: 1.5rem 0;
			border-radius: 4px;
			font-size: 0.925rem;
		}

    p{
      margin-bottom: 1.3em;

      a{
        text-decoration: underline;
				--tw-text-opacity: 1;
				color: rgb(59 130 246 / var(--tw-text-opacity));
        &:hover{
          text-decoration: none;
        }
      }
    }
	}
</style>
