---
import dayjs from 'dayjs';
import utc from 'dayjs/plugin/utc';
import timezone from 'dayjs/plugin/timezone';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import type { GetStaticPathsOptions } from 'astro'

dayjs.locale('ja');
dayjs.extend(utc);
dayjs.extend(timezone);

export const prerender = true;

//microCMS呼び出し
import { getBlogs } from "../library/microcms";
export const getStaticPaths = async ({ paginate }: GetStaticPathsOptions) => {
  const blogs = await getBlogs({ limit: 100,fields: ["id", "title", "date","content"] });
  return paginate(blogs.contents, { pageSize: 5 });
};
import PaginationList from '../components/UI/PaginationList.svelte';
const { page } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<div>
				{
					page.data.map((post) => (
						<div class="post">
							<h2 class="post-title text-blue-500">
								<a href={`/posts/${post.id}`} class=" text-blue-500">
								{dayjs(post.date).tz('Asia/Tokyo').format('YYYY.MM.DD ddd.')}
								</a>
							</h2>
							<div set:html={post.content} class="entry-content" />
						</div>
					))
				}
			</div>
      	<PaginationList {page} />
		</main>
		<Footer />
	</body>
</html>
